[2017-04-27 15:23] dizzyd opened #1 "Installing pack on server blows up without launcher_profile.json"

[2017-04-27 15:25] dizzyd opened #2 "Support pulling packs from github URL"

[2017-07-08 23:03] geekgarage opened #3 "Java folder missing"
`mcdex installPack "D:\Program Files (x86)\MultiMC\instances\Vanilla 1.10.2" https://minecraft.curseforge.com/projects/age-of-engineering/files/2446286`
CMD response: `2017/07/09 01:01:18 Failed to initialize: missing Java directory`

latest JRE is installed 32 and 64 bit

[2017-07-09 00:16] dizzyd commented on #3
Hi @geekgarage - how did you install Java? This error only occurs when:
1. There is no JAVA_HOME set in your env
OR
2. There is no embedded Java installed with Minecraft
OR
3. Running "where java" fails

I've tried to cover all the variations I'm aware of, but noting that you're using MMC, I wonder if I missed something. :)

[2017-07-12 09:15] geekgarage commented on #3
JRE was from the installers from Oracles website so nothing special about it.

According to what i can find JAVA_HOME is JDK specific and JRE is using JRE_HOME
I don't have JDK installed. Is this a must?

[2017-07-12 09:29] geekgarage commented on #3
I've just uninstalled all JRE versions 8 build 91 and 8 build 131 both x86 and x64.
Then i reinstalled JDK x64 and added JAVA_HOME and JRE_HOME to env to their respective folders.
Minecraft is running fine both vanilla and MMC instances but mcdex is still throwing that error

[2017-07-12 14:01] dizzyd commented on #3
Hm, ok this is very interesting. I've updated the latest build of mcdex w/ support for more verbose logging of the Java env. Can you please try running:

```mcdex -v info```

and send me the info via email (my github id @ my github id.com)

[2017-07-13 10:14] geekgarage commented on #3
It mus have been me forgetting to restart to reload env references because now it works, but yes it seems like it is JDK depended so i think you should add that as a note to the instructions. I sent you a dump anyway if you can use it for some thing, and as a side note i had to manually add the ENV references (and restart)

[2017-07-13 10:14] #3 closed

[2017-07-13 13:21] dizzyd commented on #3
Hi @geekgarage - glad we got it working! I just pushed up a new version of mcdex (0.6.3) that also checks for JRE_HOME. Hopefully that will avoid this problem in the future. :)

[2017-07-15 12:47] geekgarage commented on #3
That is awesome, thanks for the update, i'll properly make a youtube video regarding my whole steam Link setup and how i use your program to update my mods :) Thank for a great program and hope you will keep it updated if the mod system ever change, because this save me TONS of work updating my mods

[2017-07-17 22:56] Quillan27 opened #4 "OptiFine Support"
It's up to you but I would love to see support for supplying a link from the OptiFine site.

[2017-07-17 23:05] dizzyd commented on #4
Hi @Quillan27!

I'll have to look into making OptiFine available in the database, but in the interim you can do:

[code]

That will add the Optifine JAR to your mod path when the pack is installed. :) Does that help any?

[2017-07-17 23:07] dizzyd commented on #4
Actually, that doesn't work, since all the OptiFine JARs are behind ad-paywalls. :/ If there are legal links to the OptiFine mods, I'd be happy to add them.

[2017-07-18 01:11] Quillan27 commented on #4
What about "http://optifine.net/downloadx?f=OptiFine_1.12_HD_U_C4.jar&x=ba49eaf795f7cfa2279f2e24342274b7"
This is the link I copied from the download button after the adds page

[2017-07-18 17:21] dizzyd commented on #4
@Quillan27 - while that would work, I feel uncomfortable with trying to deliberately bypass their ad-wall without permission. I've emailed the Optifine team to see if we can find some middle ground. Will let you know what happens. :)

[2017-07-25 14:29] geekgarage opened #5 "mcdex db.update failing"
[code]

(Process part translated by me from danish)

same setup where we left it last time :) JDK x64 Server running fine. I can manually change the file from mcdex.dat.tmp to mcdex.dat when i click the permission confirmation as i'm working on C drive en %appdata% (Windows 10 pro x64)

All this is tried with Minecraft client and server shut down.

What i'm trying do do is use it to install extra

[2017-07-25 15:39] geekgarage opened #6 "***SUGGESTION*** Modpack/mod download link"
Would it be possible to add a function so you can supply **pack.install** with a link and version and then it grabs the latest pack of the modpack or mod for that MC version?

Like AoE just updated to 1.0.4 so to update it today i need to call MCdex with a new full link to the file like this just to update:
`mcdex pack.install aoe https://minecraft.curseforge.com/projects/age-of-engineering/files/

[2017-07-25 16:09] geekgarage opened #7 "Full path fails install"
I'm in the process of moving the folder to another location and drive and testing the pack.install with just a name works flawless, BUT, adding a full path doesn't as it appends the path to the .minecraft path

So using the command:
`D:\mcdex>mcdex pack.install D:\mcdex\servers\aoe https://minecraft.curseforge.com/projects/age-of-engineering/files/2455050`

Returns:
`-- C:\Users\rasmu\AppData\Roam

[2017-07-26 06:11] dizzyd commented on #7
Fixed in f3d9517.

[2017-07-26 06:12] dizzyd commented on #7
Fixed in f3d9517

[2017-07-26 06:12] #7 closed

[2017-07-26 06:12] dizzyd commented on #5
Fixed in 336bd3e; update to latest mcdex (v0.7.1) and it should be good to go.

[2017-07-26 06:12] #5 closed

[2017-07-30 14:50] dizzyd commented on #6
@geekgarage - I've been investigating this. I'd like to add it, but it's going to take some time to rework everything.

[2017-08-01 20:03] geekgarage commented on #6
I'm absolutely for it and I can wait, also why I marked it as suggestion.

[2017-08-05 18:43] adl opened #8 "Profile not created if its name contains a dash"
The following command
[code]
displays `Creating profile: farming-valley`, but the profile is not created, and no error is printed.

Running the same command with `farmingvalley` without the dash works.

[2017-08-06 16:07] #8 closed

[2017-08-06 16:14] dizzyd commented on #8
Hi @adl, thanks for reporting this. There were a few problems in play, all of which are now corrected. mcdex was being unnecessarily strict on the names and then it also wasn't properly reporting when the name check failed.

I've published v0.7.2 with these fixes. Please let me know if you encounter any additional problems.

[2017-08-08 17:15] Eufranio opened #9 "Does mcdex check for changed files?"
Some files, like text files, can change and be different from the ones of the original pack. What's the mcdex behaviour of when this happens?

[2017-08-10 14:01] dizzyd commented on #9
Hi @Eufranio - if you install a pack, modify the files and then install the pack again, the changes will be lost. Is that the use case you're describing? What behaviour would you like to see?

[2017-08-10 14:54] Eufranio commented on #9
I had an modpack installed, it updated, and when I updated my pack via mcdex, the new mods were NOT downloaded, I had to download them manually and updated. I'm not sure why this happened, so I thought it was something mcdex was doing with modified files or so...

[2017-08-10 15:00] dizzyd commented on #9
Can you list the specific mcdex commands you ran, and the order in which you ran them, please? Sounds like a bug that I need to reproduce.

[2017-08-10 15:31] Eufranio commented on #9
For the first time, as root, I ran `./mcdex db.update`, then `./mcdex pack.install /path/to/pack/ https://minecraft.curseforge.com/projects/age-of-engineering/`. When I first installed, the latest version was 1.0.4, so it installed the 1.0.4 version correctly. Now, it updated to 1.0.5 and I ran those same commands, but now the new mods were NOT installed.

[2017-08-11 12:48] dizzyd commented on #9
Hi @Eufranio - I've narrowed down the problem but need to think about the best way to fix it. Right now, mcdex will not re-download a pack when it finds an existing pack file (pack.zip) already on disk. Thus, the manifest doesn't get updated and the pack mods don't change.

I'll have a fix for you in a day or so. :)

[2017-08-11 13:09] #9 closed

[2017-08-11 13:16] dizzyd commented on #9
Hi @Eufranio - well, that was easier than expected. Grab v0.7.3 and it will now do the right thing when you update packs. :)

[2017-08-11 14:49] dizzyd commented on #4
@Quillan27 - I haven't recv'd a response from Optifine, so I'm going to assume they wouldn't be ok with including their JAR files without the ad-wall.

If you can get them to grant permission (via a post on this ticket or to my email address), I can easily add the code. :) Otherwise, closing this ticket.

[2017-08-11 14:49] #4 closed

[2017-08-11 14:49] #1 closed

[2017-08-28 10:02] Spongman opened #10 "incorrect forge download url"
[code]

the generated url used to download forge is sometimes wrong depending on the version.

sometimes the correct location looks like this:

`https://files.minecraftforge.net/maven/net/minecraftforge/forge/1.9-12.16.0.1886/forge-1.9-12.16.0.1886-universal.jar`

and sometimes like this:

`https://files.minecraftforge.net/maven/net/minecraftforge/forge/1.9-12.16.0.1885-1.9/forge-1.9-12.16.0.1885-

[2017-08-29 19:08] Spongman opened #11 "can't build on windows"
[code]

no idea what i'm doing. go is a mystery to me.

[2017-09-08 06:19] rosareven opened #12 "No Forge version found for 1.12.1"
I just tried to pack.create a new pack for MC version 1.12.1, but it came back with no forge version found.

1.12 works. Does Mcdex only detect stable Forge version?

![capture](https://user-images.githubusercontent.com/17244066/30198499-6521bbd4-94b1-11e7-82d0-c3b46f7b9982.PNG)

[2017-09-10 12:10] dizzyd commented on #11
Hi @Spongman - I don't actually build on Windows; I cross-compile using mingw in a Docker container. That said, you need to use govendor to install the dependencies, not just go get. Does this help?

[2017-09-11 01:06] dizzyd commented on #12
Hi @rosareven - there is a bug in how the database is being generated. I'm investigating and hope to have a fix in next few days. :)

[2017-09-11 01:08] dizzyd commented on #10
Sigh. What version of forge did you really want installed? I'll use that as a test case.

<rant>It's so obvious that some forge releases are built by hand. Not sure why TF they would do this for something so widely used....</rant>

[2017-09-11 13:14] dizzyd commented on #12
Hi @rosareven - I was wrong, the database was fine. :) The problem is that if you choose a version of Forge that is not recommended, such as 1.12.1, you need to be more explicit.

So, try this:

Then:

Let me know if that works for you! :)

[2017-09-20 22:05] Spongman commented on #10
i don't remember exactly which one. project ozone 2 was the modpack from curse, i believe. i checked a bunch of download URLs, it looks like they only use those two schemes.

[2017-09-22 19:55] OrdinatorStouff commented on #11
I was able to clamour my way through installing govendor and then some more headaches with gcc to compile sqlite3 and etc and got mcdex to compile (win10x64).

Then I had to mess with envion variables for JAVA_HOME and then things like mod.list was not giving any output in the command prompt window and I kinda of around that point decided "ok this wasn't *really* meant to run in Windows that's may

[2017-09-22 19:57] OrdinatorStouff commented on #12
I was able to install 1.12.2 forge 14.23.0.2489 this way -- it just only defaults to RBs not latest which you could say is a feature not a bug.

[2017-09-22 20:06] dizzyd commented on #11
@OrdinatorStouff @Spongman - so, I provide cross-compiled builds for all the major platforms; are those not sufficient or are you looking to be able to contribute?

[2017-09-22 21:50] OrdinatorStouff commented on #11
The provided exe worked for me I was more curious if I could figure out how to compile on my own mostly just out of curiosity.

[2017-09-24 15:08] dizzyd commented on #12
I'm closing this issue since there aren't any further comments. :)

[2017-09-24 15:08] #12 closed

[2017-09-24 15:09] dizzyd commented on #11
@OrdinatorStouff - ok. It _is_ supposed to work on Windows (just building is really meant to be done on a cross-compiler, not native). Wrt. to mod.list not working, did you install the database? (I.e. db.update) first?

[2017-10-06 04:43] rosareven commented on #12
Hi there, I'm so sorry I have been away and only just test this out now, this time with 1.12.2 MC version and an attempt at latest version of forge. Unfortunately it doesn't want to recognise the latest version still, only the latest stable.

![image](https://user-images.githubusercontent.com/17244066/31263300-1228be8e-aaad-11e7-84bd-3ec0188e7cb0.png)

[2017-10-26 11:49] LiaungYip commented on #11
I'd like to contribute.

I'm on Windows, new to `govendor`, and not very experienced with `make` or makefiles.

Go version, `$GOPATH`, and `$GOROOT` on my system:

    PS C:\Users\lws\gits\go\src\github.com\LiaungYip\mcdex> go version
    go version go1.8.3 windows/amd64
    PS C:\Users\lws\gits\go\src\github.com\LiaungYip\mcdex> $env:GOPATH
    C:\Users\lws\gits\go
    PS C:\Users\lws\gits\go\src

[2017-10-28 15:31] osmarks opened #13 "[Suggestion] Fuzzy version matching"
I'm trying to create a 1.12.2 pack, but many mods are for 1.12 instead of 1.12.2. Since most 1.12 mods will probably work on 1.12.2, I'd like a way to ignore the .2 on the end when selecting a version.

[2017-11-09 13:48] dizzyd commented on #13
I've released 0.7.4 that supports a primitive form of this fallback. For example if a 1.12.2 version of mod can't be found, it also looks for a 1.12 version. I'm considering changing it to actually walk all possible versions from (e.g. 1.12.2->1.12.1->1.12), but I'm not sure if that would be worse or better. :)

Give it a try and let me know. Re-open this issue if you have further problems. :)

Th

[2017-11-09 13:48] #13 closed

[2017-11-09 13:53] dizzyd commented on #11
I've gone back and forth about how to handle this. I don't develop on Windows, though I do test on it. If a Windows developer wants to collaborate on how to make mcdex build natively there, I'm happy to chat, but I'm not going to dig in and spend a lot of time doing that. :)

Thank you @Spongman @OrdinatorStouff and @LiaungYip for your thoughts. If you find something not _working_ (i.e. functional

[2017-11-09 13:53] #11 closed

[2017-11-09 13:56] dizzyd commented on #10
I've tried to reproduce this but haven't been able to. If you have a specific modpack URL that's failing, please re-open this issue with that so I can reproduce and fix. :)

[2017-11-09 13:56] #10 closed

[2017-11-09 13:56] #2 closed

[2017-11-09 17:31] Spongman commented on #10
project ozone 2 was the one. i gave you all the info you need to fix.

just attempt to download from the URL scheme you currently do, if that fails, try the other one. done.

[2017-11-09 17:50] dizzyd commented on #10
@Spongman I couldn't find a Project Ozone 2 on curseforge - do you have the download link?

[2017-11-09 18:44] Spongman commented on #10
this is the one, i think: https://www.curseforge.com/minecraft/modpacks/project-ozone-2-reloaded

[2017-11-09 19:30] dizzyd commented on #10
Fixed in v0.7.5. :) Thanks for the URL link.

[2017-11-09 20:08] Spongman commented on #10
that still won't work for all forge versions.

[2017-11-17 09:09] dskw opened #14 "Proxy support"
Hi, can you include parameters for specifying a proxy with user/pass for making the http connection? I'm running into timeouts since my machine is behind a proxy and mcdex also seems to ignore the proxy environment variables in windows (set http_proxy=.. set https_proxy=..)

[2017-11-17 14:34] dizzyd commented on #14
Yes, indeed. I will take a look at this tonight.

[2017-11-18 14:33] dizzyd commented on #14
@dskw can you give me a little more info about your setup? What platform are you on, what kind of proxy (HTTPS/SOCKS5), do you need username/password, etc?

[2017-11-18 19:00] nmarshall23 opened #15 "Problem with installing latest version of Mod"
It seems that mcdex isn't installing the latest published version of a mod.
It's pulling the beta version, when there is a newer release version.

I am building a 1.12.2 Modpack. I have added the [Packing Tape](https://minecraft.curseforge.com/projects/packing-tape) to my modpack. The manifest.json shows the beta version of Packing Tape.

I found this because the beta version of Packing Tape crash

[2017-11-18 19:37] nmarshall23 commented on #15
[Smart HUD](https://minecraft.curseforge.com/projects/smart-hud) is another mod that mcdex is picking the incorrect version.

I think I see a pattern both of these mods list they support Minecraft 1.12, and not 1.12.2. However my modpack was set for 1.12.2

[2017-11-19 04:35] dizzyd commented on #15
Hi @nmarshall23 - this behaviour is intentional. mcdex starts at the selected MC version (i.e. 1.12.2 in this case) and works down to first major.minor version (i.e. 1.12). I could add a --exact flag or something to disable this if you like? I've personally found it to work most of the time and makes it easier for mods where authors don't necessarily track every patch.

Thoughts?

[2017-11-19 09:41] dskw commented on #14
Sure:
I'm behind a company proxy using http which requires user and password and tried it in windows. The OS has the proxy configured and I also tried setting the environment variables for proxies, but ran into a timeout every time

[2017-11-19 23:34] LiaungYip commented on #14
@dskw - is that a Microsoft proxy? Those require NTLM authentication. Easiest way to set that up is using CNTLM.

[2017-11-24 08:23] kifujin opened #16 "LiteLoader mod support"
Any chance at adding support for http://www.liteloader.com/mods ?

[2017-11-25 19:25] dizzyd commented on #16
Hi @kifujin - so to clarify, you want to be able to use mods from liteloader, not integrate directly with liteloader?

[2017-11-26 00:28] nmarshall23 commented on #15
The bug I have is that when mcdex falls back from 1.12.2 to 1.12 is doesn't install the most recent  version of the mod.

When I add Smart HUD to my pack, version 1.0.2 of Smart HUD is added to the manifest.
Here is the Json.
[code]
That is an old version, I want version 1.0.4. I looked in mcdex.dat sqlite db, and it has fileID: 2443261, that is the fileID for version 1.0.4.

[2017-11-26 17:33] kifujin commented on #16
Correct, to index and add mods directly from that site.

[2017-11-28 02:47] dizzyd commented on #15
Reproduced it; trying to sort it out. Thanks! :)

[2017-11-28 02:59] dizzyd commented on #15
@nmarshall23 - ok, all fixed in 0.8.2! I wasn't properly ordering by tstamp. :) Thanks for the report.

[2017-11-28 02:59] #15 closed

[2017-11-28 03:09] dizzyd commented on #16
Hi @kifujin - I did some digging on this. The way the HTML is structured, it would be difficult to write a crawler for it. Is there a JSON (or even XML) file as an index somewhere? I'd be happy to add  these mods, they just don't make it easy to do that in a programmatic way. :(

[2017-12-05 05:22] nmarshall23 opened #17 "How often does the DB update?"
I've not seen any DB changes since I updated mcdex. I queried my mcdex.dat file no updates have been added to it.

I even moved it and ran db.update, my new mcdex.dat, is the same size as the old.

[2017-12-05 15:52] dizzyd commented on #17
Hi @nmarshall23!

By default, mcdex updates once a day. I just released v0.8.3 that now displays what the most recent file is in the database so you can know how up to date it is.

Note that the crawler crashed a few days ago (my monitoring sucks), so it was not updating from Nov 1 - today. Should be all updated now, though. :)

I'm closing this ticket; but please let me know if you have any more

[2017-12-05 15:52] #17 closed

[2017-12-09 02:36] miiichael opened #18 "[suggestion] Support some form of version pinning"
Occasionally it's necessary to not use the latest version of a mod, or forge itself:
 - occasionally a forge update breaks a mod. Need to pin forge to specified release that doesn't break A (until that mod gets fixed).
 - mod updates sometimes introduce changes undesirable for existing servers.
 - other unspecified reasons :sweat_smile:

It might suffice to provide the means to blacklist specific

[2017-12-09 02:38] miiichael opened #19 "[suggestion] Support resource packs"
This should be relatively straight forward (I hope!). I believe curseforge resourcepacks can be handled identically to mods, except of course you drop them into ./resourcepacks/ instead of ./mods/

[2017-12-09 23:36] nmarshall23 commented on #17
The Crawler has crashed again, last update in database was on 2017-12-07.

[2017-12-10 00:52] dizzyd commented on #17
Hi @nmarshall23 - so it would appear my CoreOS doesn't restart my container/timer on reboot. Thanks for the heads up. I'm digging into it. In the meantime, I ran it by hand and it should be updated now.

[2017-12-11 00:40] dizzyd commented on #18
Hi @miiichael!

As of 0.8.0, for any of the entry under "files" in manifest.json, you can add a "locked": true setting to stop mcdex from updating that entry when mod.update.all is run. This is a simple (yet effective) approach to version pinning. :)

Hope that helps!

[2017-12-11 00:41] dizzyd commented on #19
I'll look into this, thanks.

[2017-12-23 21:26] nmarshall23 opened #20 "Can not load created ModPacks in the Curse launcher"
Modpacks created by mcdex can't be loaded in the Twitch launcher. This is because how mcdex lists forge versions with just the version in the id string.

The Twitch launcher requires the prefix 'forge' then a dash then the version number.

Json partial created by mcdex using `pack.create`.

[code]

The same json partial created by the Twitch launcher, when exporting a modpack.
[code]

[2017-12-25 12:54] LiaungYip opened #21 "mod.list and mod.select are case sensitive"
The command `mod.list` is case sensitive. This sometimes leads to guessing games for the correct capitalisation of a mod's name.

For example, consider searching for the mod `voxelmap`. Do you search for `map` or `Map`?

    lws@gumption:~/mcdex-test$ ./mcdex mod.list map 1.12
    DynmapForge | Dynamically updated web based maps for Minecraft servers | https://minecraft.curseforge.com/projects/dyn

[2017-12-28 17:08] grim3212 opened #22 "[suggestion] Another Argument for Ignoring Failed Downloads"
When downloading some older modpacks I have been unable to install them because of it exiting out once it comes to a 404.

I think another argument for ignoring these and continuing downloading would be useful.

[2018-01-02 14:09] dizzyd commented on #20
Thanks for the report @nmarshall23. I've tweaked the pack.create functionality to always prefix forge-; can you let me know if there are any other alterations you need, please?

[2018-01-02 14:33] #22 closed

[2018-01-02 14:34] dizzyd commented on #22
Thanks @grim3212. I've added a new flag (--ignore) that will provide this functionality.

[2018-01-02 14:34] #20 closed

[2018-01-02 14:35] #18 closed

[2018-01-02 14:43] dizzyd commented on #22
Fixed in v0.8.4.

[2018-01-02 14:44] dizzyd commented on #20
Fixed in v0.8.4.

[2018-01-02 14:47] dizzyd commented on #21
Hi @LiaungYip! Thanks for the thoughtful feedback. As a preliminary step, I've made the mod.list command use a case-insensitive regex in v0.8.4. Changing mod.select is a little more complicated since it's possible that making it less restrictive could cause mcdex to choose the wrong mod; I need to think a little about how to do that without breaking things.

In the meantime, do you want to file an

[2018-01-02 14:51] grim3212 commented on #22
Thanks, looks great!

[2018-01-03 08:27] LiaungYip commented on #21
Hi Dave - thanks for the response. I'm travelling at the moment, but will write up an issue RE: building on Ubuntu, once I get back to my desk in a couple of weeks time.

[2018-01-05 20:37] nmarshall23 opened #23 "mcdex db.update not updating db"
My db hasn't updated sense 2018-01-03

[2018-01-06 00:47] dizzyd commented on #23
Hi @nmarshall23 - I just checked and it's still running; last update is 2018-01-05 17:04:39 -0700 MST?

Let me know if that's not true for you. :)

[2018-01-09 22:34] legomolina opened #24 "New profile not working on Windows"
I've just downloaded the Windows version and installed a clean Minecraft (previously deleted C:\ProgramFiles(x86)\Minecraft folder and %appdata%\.minecraft). Once is installed I logged in and go to the cmd to execute the command and install the Age of Engineering modpack and all goes well but when I launch the game again, I have not any new profile created.

[2018-01-15 00:19] nmarshall23 commented on #23
It updated 9 days ago but has not updated sense.
Running db.update I get:

Database up-to-date as of 2018-01-09 18:52:31 -0500 EST

[2018-01-17 23:07] GrenderG commented on #24
Same on Ubuntu 16.04.

[2018-01-18 01:54] dizzyd commented on #24
Can you please try something for me?
1. Install Minecraft
2. Start Minecraft and Login
3. Shutdown Minecraft
4. Use mcdex to install the pack
5. Start Minecraft and Login

This _should_ work. Note that it's important to login into Minecraft at least once before running mcdex as Minecraft installs a bunch of files/configs that Mcdex requires. Let me know if that helps!

[2018-01-18 18:57] legomolina commented on #24
Same as @GrenderG, downloaded and installed the game, run it, logged in successfully and executed the command to install the modpack.
All files were created under mods folder but not the profile.

[2018-01-18 19:24] dizzyd commented on #24
Weird. I'll take a look this evening; could be that something changed in the launcher that I need to adjust for. :)

[2018-01-18 22:47] GrenderG commented on #24
Thanks, keep us informed.

[2018-01-20 03:03] dizzyd commented on #24
I've reproduced this. Working on a fix...

[2018-01-20 04:18] #24 closed

[2018-01-20 04:44] dizzyd commented on #24
Fixed in v0.8.5. Thanks for the report!

[2018-01-20 04:46] dizzyd commented on #23
I hate systemctl. :/ DB is updating now again. I will investigate a more permanent solution tomorrow.

[2018-01-20 05:28] dizzyd commented on #23
OK, I think I've finally got it setup correctly. Please reopen if it fails again.

[2018-01-20 05:28] #23 closed

[2018-02-15 01:04] nmarshall23 commented on #23
It's down again.

[2018-02-16 01:38] dizzyd commented on #23
Fixed again. Different problem this time! :)

[2018-03-03 18:26] dizzyd commented on #23
@nmarshall23 - FYI, I just released a new version that show elapsed time in easier to read format. :)

[2018-03-30 14:21] LiaungYip opened #25 "mod.select should also select dependencies"
For example:

[Storage Drawers Extras](https://minecraft.curseforge.com/projects/storage-drawers-extras) has two *required* dependencies:

1. [Chameleon](https://minecraft.curseforge.com/projects/chameleon)
2. [Storage Drawers](https://minecraft.curseforge.com/projects/storage-drawers)

These should be selected at the same time `Storage Drawers Extras` is selected.

Recursive selection: Selection

[2018-03-30 14:31] LiaungYip opened #26 "mod.list should display the download count for each mod / mod file"
The database should include information on the download count for each mod and/or file. This should be displayed when running `mod.list`.

The download count for a mod is a useful proxy for its quality. A mod with a download count of 10 is probably un-tested rubbish; 1,000 is probably a mod in alpha; 100,000 is probably a well-polished mod that is safe for general use.

The mod's overall download

[2018-03-30 19:10] LiaungYip commented on #25
The plot thickens: **dependencies are per-file, not per project.**

See: https://github.com/Chisel-Team/Chisel/issues/669 .

So the database would also need to capture dependencies **per file**.

[2018-08-28 14:14] Magi1053 opened #28 "Missing older minecraft versions for mods"
Not that I need it personally, but I was just querying some of the modfiles in the database, and I noticed for example in JEI that it only lists 25 files total for that mod, and all of them are from 1.12.2. The database doesn't have any files for older versions of minecraft for JEI.

![image](https://user-images.githubusercontent.com/1045179/44728710-ba310a00-aaa2-11e8-8c8b-ccec6b1c89bb.png)

[2018-08-29 16:36] dizzyd commented on #28
Hi @Magi1053!

Yeah, this is the crawler trying to be nice and not go through every page. I'll take a look at making it more intelligent, but it might be a while since it would be a pretty big change. Do you think anyone else would actually use it?

[2018-08-29 17:14] Magi1053 commented on #28
I suppose that depends. Do files in the database get pruned out if the crawler doesn't find them on the page? If they don't, then the crawler would only have to be modified one time to scan every page, and then when it runs daily updates it would only scan the first page.
Since the program natively supports specifying an older minecraft version, it probably would be an issue if it didn't have mods

[2018-08-29 22:45] LiaungYip commented on #28
I think this can be done without using a web crawler.

Refer https://github.com/amcoder/Curse.RestProxy/wiki/Curse-Project-Feed :

The file `complete.json.bz2` is a 5MB compressed file which expands to 96MB of JSON.

One entry, for the mod Immersive Engineering, is shown below.

Note that there is a section called `GameVersionLatestFiles` which appears to reference the most recent file available f

[2018-08-29 23:32] dizzyd commented on #28
Wowzers! That's a lot easier! Amazing find, @LiaungYip!

Let me dig into this, but it would probably make it possible for me to do proper dependency management as well as tracking all versions.

On a personal note, I'm getting married on Saturday, so it's probably going to be later next week before I get back to hacking. :)

[2018-08-30 00:30] LiaungYip commented on #26
On further inspection - this `DownloadCount` is also available in the Curse Project Feed.

    {
      "Id": 231951,
      "Name": "Immersive Engineering",
      "Authors": [
        {
          "Name": "BluSunrize",
          "Url": "https://www.curseforge.com/members/BluSunrize.aspx"
        },
        {
          "Name": "malte0811",
          "Url": "https://www.curseforge.com/members/malte081

[2018-08-30 00:33] LiaungYip commented on #28
Congratulations! :tada:

[2018-09-07 19:03] Magi1053 commented on #28
I tried doing some sniffing, and it looks like the twitch client now uses this api to get mods:
https://addons-ecs.forgesvc.net/api/addon/search?gameId=432
The downside is that it requires an AuthenticationToken to use.
If you want, I can dig some more to try to find the api request it uses to obtain this token.

[2018-09-07 19:10] dizzyd commented on #28
Is is it the same file format? Or is this an API for searching?

Yes, any additional info you can gather on the API auth would be helpful, but I have a feeling that unless there's a way to get an API key, we're gonna have to depend on the crawler.

[2018-09-07 20:47] Magi1053 commented on #28
https://www.twitch.tv/p/legal/terms-of-service/#7-license

[2018-09-07 20:48] Magi1053 commented on #28
I might be able to find a way for you to authenticate with the API for the purposes of generating the sql dump, but this licensing issue might get in the way.

[2018-09-07 21:36] dizzyd commented on #28
*Sigh*

Yeah, this just isn't going to work. We're going to have to stick with the old way of doing things -- which works, just more manual labor for me. :)

Thanks @LiaungYip and @Magi1053 - I'll still take a run at deps, but it will be a while. :/

[2018-09-07 23:01] Magi1053 commented on #28
I also just found this https://staging_cursemeta.dries007.net/docs#get-addons

[2018-09-07 23:41] Magi1053 commented on #28
Looks like this is basically a wrapper for the curse api baked in authentication and cached results up to an hour.
https://staging_cursemeta.dries007.net/api/v3/direct/addon/search?gameId=432&sectionId=6
(Prepare for slow load time)

[2018-09-08 16:02] Magi1053 commented on #28
Dries007 handled all the licensing issues and claims to have been given permission by Twitch to create this api, so it should be safe to use internally for you to scan and use in your daily updates.

[2018-09-08 18:48] dizzyd commented on #28
@Magi1053 - if you're ever on the Forge Discord, hit me up (I'm dizzyd).

[2018-09-15 20:55] dizzyd commented on #28
OK - some good news. I've now worked out the details for tracking full deps and per-version latest files in an efficient way. I'm working on getting mcdex updated to use this info and hope to release in next week or so. :) Thanks @Magi1053 and @LiaungYip for all the suggestions. I will close out this ticket once the work is complete.

[2018-09-16 01:57] barcharcraz opened #29 "[Suggesting] More flexable folder support"
It would be nice to be able to develop modpacks (for example) in my multimc instance folder so I could launch them immediately

[2018-09-18 03:59] dizzyd commented on #29
Can you describe the exact workflow you're looking for? We already have the ability to generate MMC config files -- I'm wondering what's missing. :)

[2018-09-18 06:10] dizzyd commented on #28
@Magi1053 and @LiaungYip - please give the latest mcdex a try. It should now have file versions for most Minecraft versions and full dep resolution! I'm sure there's bugs, but think it's mostly ready. :)

[2018-09-18 06:10] #28 closed

[2018-09-18 06:10] dizzyd commented on #25
Resolved in latest release; let me know how it works. :)

[2018-09-18 06:10] #25 closed

[2018-09-18 17:57] barcharcraz commented on #29
well for one it looks like the mmc config file support is broken (full report possibly incoming). I was looking for support for setting the pack directory to the mmc instances dir, so I could launch it directly with mmc.

My workflow now is
1) have pack managed my mmc
2) have same named pack managed by curse
3) junction the mod directories of the curse pack to the mmc pack
4) use curse to update m

[2018-09-22 18:02] dizzyd commented on #26
Fixed as part of mod database overhaul!

[2018-09-22 18:02] #26 closed

[2018-09-24 03:10] DbpGaming opened #31 "Optional dependencies"
It seems that if you install a mod (example https://pastebin.com/6aBghrKd) not only are all required dependencies are downloaded, but all optional dependencies i don't know if this is intentional, but it makes it extremely hard to just install the mod you want

[2018-09-27 02:14] dizzyd commented on #31
Fixed in 1f8d0ef03add8a443e8d4708924bcda368367eb7; will be part of the 0.9.1 release.

[2018-09-27 02:14] #31 closed

[2018-10-05 08:45] LiaungYip opened #32 "Error when running mod.list before db.update"
`mcdex` does not check that the database has been downloaded before attempting to run operations on the database.

This results in errors like "no such column" when `mcdex` should instead report `database hasn't been downloaded yet - try running mcdex db.update`.

[code]

[2018-10-14 22:05] nmarshall23 opened #33 "Mods Not Found"
While building a modpack for 1.12.2, I found three mods that are not listed in mcdex's db.

[Cathedral](https://minecraft.curseforge.com/projects/cathedral)
[Earthworks](https://minecraft.curseforge.com/projects/earthworks)
[TIS-3D](https://minecraft.curseforge.com/projects/tis-3d)

I checked the `mcdex.dat ` file and I see they are not listed the mods table.

[2018-11-12 22:07] SevereOverfl0w opened #34 "How to export?"
I apologize, I suspect this is me not understanding Minecraft very well.

I've put together a number of mods, and now wish to privately share them with a friend. What is the correct way for me to export my pack for them to use?

I think multimc export would be useful, but other strategies are good too.

[2018-11-21 04:13] dizzyd commented on #33
@nmarshall23 - I believe this has been resolved. Let me know if you see anything missing! :)

[2018-11-21 04:13] #33 closed

[2019-01-19 17:48] dizzyd opened #38 "Commands should treat . as `pwd`"
When running a command that requires a directory, "." should be treated as if the user passed the absolute directory name.

[2019-01-19 20:52] #29 closed

[2019-01-19 21:17] dizzyd commented on #32
This is fixed in 0.9.5.

[2019-01-19 21:17] #32 closed

[2019-01-19 21:18] dizzyd commented on #21
Fixed in 0.9.5

[2019-01-19 21:18] #21 closed

[2019-01-19 22:31] mgziminsky commented on #38
Doesn't it already do this?

https://github.com/dizzyd/mcdex/blob/91d9ddfc06e1349624121a477dd8f189c42fc85a/modpack.go#L67-L70

[2019-01-21 15:58] #38 closed

[2019-01-21 15:59] dizzyd commented on #38
No, there was a subtle bug which I tracked down this morning. It worked for some cases, but not others -- should be consistent now :)

[2019-01-21 16:03] dizzyd commented on #6
@geekgarage - 0.9.5 now supports installing modpacks based on slug name. Thus you can do:

mcdex pack.install age-of-engineering

and it will find the latest one available and install it.

[2019-01-21 16:03] #6 closed

[2019-01-21 16:13] dizzyd opened #39 "Add support for pack updating"
It's possible to use mod.update.all + pack.install to update all the mods, but for pre-made modpacks, this won't use the pinned versions from the manifest. Need to introduce a pack.update for modpacks installed from CF.

[2019-02-02 22:23] mgziminsky opened #40 "In-place pack update could leave pack in an invalid state"
When updating an existing pack installation by providing a new URL, the new pack is unzipped directly over the existing installation without first cleaning up the contents of the previous pack. This can result in multiple versions of mods, or other files, from the overrides folder being installed.

To avoid this, a simple solution would be to iterate the contents of the previous pack.zip and remov

[2019-02-08 04:12] mgziminsky opened #41 "mod.update.all does not handle dependencies for updated mods"
The mod update command does not check the dependencies for the new versions of mods being set. So any new dependencies of updated mods will not be added to the pack, breaking it.

https://github.com/dizzyd/mcdex/blob/17c0ecc98eacf46c6c3c5e5636d7d9fc3a691fc8/modpack.go#L425-L428

[2019-02-27 04:32] matt-claycomb opened #42 "Database Refreshing Out of Date"
I have a Docker image built using this for easy updating of a pack we have on Curse and run a server of. I am running into issues where an update is pushed and approved on Curse (in this case 6 hours ago), but the mcdex database doesn't appear to refresh that frequently (10 hours in the past, at time of writing).

Is there documentation of how the cache file is built so I may run that locally and

[2019-02-27 14:50] dizzyd commented on #42
Hi @matt-claycomb -

The crawler is not publicly available as I do not want people inadvertently creating significant load on the CF servers by trying to do real-time polling. This is in part because the CF servers do not _update_ in anything close to real time. From what I've seen things can show up on their site immediately, but from an API perspective it can be several hours before it's visible

[2019-02-27 14:52] dizzyd commented on #42
Of note, the crawler does run a few times per day, but there was another API break that caused it to miss files over the past few days. I've corrected this, so it should be more timely moving forward.

[2019-02-27 14:59] matt-claycomb commented on #42
I understand - I wasn't even sure if it was an API or if you actually crawled and scraped data from the human-readable pages.

I just had my concerns as I had seen the db multiple days out of date in the past, and wanted to make sure it wasn't something like a 1 week interval.

[2019-02-27 14:59] #42 closed

[2019-03-02 17:58] rohit507 opened #43 "Failed to download: too many colons in address"
I've built mcdex-0.9.5 on ubuntu w/ the current go snap (installed via `sudo snap install go --classic`) and have the following error when trying to download any modpack:

[code]

It's unclear whether you mean for it to be using ipv6.

[2019-03-03 14:55] osmarks commented on #43
I'm experiencing this too.

[2019-03-03 17:14] osmarks opened #44 "Install from manifest.json"
I'd like to distribute a pack without going through curseforge, via publishing the `manifest.json` on Github. Currently, this requires creating a new pack, replacing the default `manifest.json` with mine, and then installing that. It would be convenient to be able to just run a single command, perhaps `mcdex pack.install.from_manifest` to create and install a pack from a manifest.

[2019-03-03 18:33] dizzyd commented on #44
I'm a little confused, but maybe I'm missing part of the workflow. To create a new modpack, I usually do something like:

mkdir mypack; cd mypack
mcdex pack.create . 1.12.2 # Creates an empty manifest with stable forge
mcdex mod.select .... # Get all my mods

Does this not work for some reason?

[2019-03-03 18:41] dizzyd commented on #43
Can you please run:

ping minecraft.curseforge.com

and let me know what you get back? There's no specific IPv4/6 code in mcdex and I just validated it works on a fresh Ubuntu install. My suspicion is that this is your network configuration, but that ping should tell us more. :)

[2019-03-03 20:26] osmarks commented on #43
I added `104.19.146.132          minecraft.curseforge.com` to `/etc/hosts` and it downloads fine; here's the ping output.
[code]

Without that, it's this:
[code]

[2019-03-03 20:27] osmarks commented on #44
Nope. I get
[code]

[2019-03-21 14:01] deep-fried-bacon opened #45 "running on linux (I'm probably being stupid)"
I'm having issues running this on linux.
How are you supposed to run it? Do I need to install it somehow?

[2019-05-11 19:03] CryoByte33 opened #46 "Extra '/' in forge library address causing 404"
Hey everyone! Looked through the open issues and didn't see this so I thought I'd bring it up. I'm trying to install Skyblock 2 (https://minecraft.curseforge.com/projects/310396) and got through the mod install perfectly, but server.install is failing:

[code]
I believe the issue to be a spare `/` in the address between maven and com. Let me know if I can do anything to help with this as this tool

[2019-06-01 02:44] LiaungYip commented on #25
This feature works really well!

(To the extent that CurseForge authors correctly record their dependencies; but that's an upstream issue.)

[2019-06-11 22:50] dizzyd commented on #46
Hi @CryoByte33 - I'm having difficulties reproducing this. Could you please start from scratch and list all the commands you ran? It looks more like an interstitial problem, but I might be wrong. :)

Thanks!

[2019-06-11 22:51] dizzyd commented on #45
Hi @deep-fried-bacon - you need to download the [Linux](http://files.mcdex.net/releases/linux/mcdex) executable from the link in the README. Once that's downloaded, you just need to make sure it's executable or on your PATH and it should Just Work (tm). Please feel free to re-open if that's not fixing it. :)

[2019-06-11 22:51] #45 closed

[2019-06-11 22:53] dizzyd commented on #44
@osmarks try using the latest build (0.9.6+). There were some bugs in the relative directory handling in prior versions. Please feel free to re-open if it's still a problem. :)

[2019-06-11 22:54] #44 closed

[2019-06-11 22:55] dizzyd commented on #43
@osmarks I just had a PR submitted that resolved this issue. I'll be cutting a new release later today with this change incorporated. :)

[2019-06-11 22:55] #43 closed

[2019-08-03 21:17] Develon5543 opened #49 "mcdex doesn't support the new forge site."
This tool explicitly checks for minecraft.curseforge.com now, but the new url is just curseforge.com. This means it's impossible to download modpacks from Curse now.

[2019-08-03 21:27] Develon5543 commented on #49
Also, even if I comment out the checks in modpack.go, the individual mods fail to download because of the new URL scheme.

[2019-08-03 22:04] Develon5543 commented on #49
Also also, I can't figure out how to download a file just by its file ID and project ID. It looks like we need the mod names now? There's also a curse API that might be of help, but that's java-based. I just can't seem to assemble a valid URL that produces a zip file and not an html file using just the numbers..

[2019-08-03 22:12] Develon5543 commented on #49
I found out the new link format for you to incorporate into your program.
Modpack URL: https://www.curseforge.com/minecraft/modpacks/projectID/download/fileID/file
Mod URL: https://curseforge.com/minecraft/mc-mods/projectID/download/fileID/file

[2019-09-25 20:18] Bockiii commented on #49
Hi,

I can see that you made the commits, but the released linux version still has the issue. Do you need to kick off the build for that?

[2019-09-26 06:54] Bockiii commented on #49
Is it possible that you missed a spot in the db.go?

[code]

[2019-09-26 07:00] Develon5543 commented on #49
Ah, I'm not the one who did a pull request or any commits. I simply changed the code locally and used it that way. Sorry about that.

[2019-09-26 07:02] Bockiii commented on #49
I meant @dizzyd :) I just hijacked your issue because it was the latest about curseforge not working :)

[2019-09-28 20:48] dizzyd commented on #49
So, my git got messed up -- which is _part_ of the problem. There is another problem that I'm still working through. Hope to have it fixed today. :/

[2019-09-28 22:34] dizzyd commented on #49
Ok, 0.9.7 is out that fixes all these problems. Let me know if it breaks again!

[2019-09-28 22:34] #49 closed

[2019-09-28 22:36] dizzyd commented on #46
I'm closing this issue as I've not been able to reproduce. Please feel free to re-open.

[2019-09-28 22:36] #46 closed

[2019-12-08 03:42] 1JackBlack1 opened #51 "Problems installing mods/packs"
I wanted to use this to install Volcano Block, but ran into several issues which made it a lot harder.

I first tried to just use the tool to install it, but it wasn't able to find the modpack (entered as volcano-block similar to how other modpacks are named).
I checked the list of mod packs and it wasn't listed at all. When checking I noticed that it only lists 15265 modpacks, even though over 16

[2019-12-20 22:32] 1JackBlack1 commented on #51
Just to provide an update now that I tried installing on a new computer. It seems I used the wrong url before, so that part isn't actually an issue. However the rest is, and I still needed to manually add a few mods.

[2019-12-30 14:04] SevereOverfl0w commented on #51
I'm unable to find this mod using mod.list, perhaps the same issue? https://www.curseforge.com/minecraft/mc-mods/yungs-better-caves

Even when adding to manifest.json manually, mcdex claimed to be unable to find it.

[2020-01-16 14:47] xunto opened #52 "Unable to download mods"
Curseforge seems to change something as I get 403 error when I do "pack.install".
[code]
I can access this link from browser though.

[2020-01-23 04:15] ScalSaver commented on #52
Running in the same issue here. But I have additional info :

1. Error 403 means Curseforge's server is refusing the connection for download. I intuit it's because we're trying to download industrially instead of by hand from a proper internet browser.

2. I tried with the -ignored setting to see if it's one mod or the whole ordeal that is blocked. As you can probably guess yourselves, every singl

[2020-01-24 08:39] 1JackBlack1 commented on #52
I think this may be an attempt to try and force more people over to twitch launcher.
As a work around, I ran it with ignore to get a list of urls, replaced some text in it to make it into a list and then used tampermonkey to open them all in new tabs.

[2020-01-31 21:49] dizzyd commented on #52
I'll take a look at this later tonight. They are looking for specific headers and such to validate it's a "real" browser. We might have to add a specific login command to enable things to work properly. Will report back after I dig in a bit. :(

[2020-02-01 06:50] dizzyd commented on #52
Think I found the problem. Hopefully a new release tomorrow.

[2020-02-01 07:07] ScalSaver commented on #52
Thank you!

Le ven. 31 janv. 2020 à 23:50, Dave Smith <notifications@github.com> a
écrit :

[2020-02-01 18:06] dizzyd commented on #52
This is fixed in v0.9.8 which was just released. Please let me know if the issue re-occurs. :)

[2020-02-01 18:06] #52 closed

[2020-04-03 15:56] gamer4life1 opened #53 "Invalid modpack URL; we only support Curseforge & feed-the-beast.com right now"
When I try to download any modpack, it gives me this message:

`Starting download of modpack: https://minecraft.curseforge.com/projects/263897/files/2503175/download
2020/04/03 08:50:37 Invalid modpack URL; we only support Curseforge & feed-the-beast.com right now`

Any help would be greatly appreciated.

[2020-04-03 16:00] gamer4life1 commented on #49
I have the same issue with macos
#53

[2020-05-02 03:34] #53 closed

[2020-08-22 17:52] jason-s-yu opened #54 "/lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.28' not found (required by ./mcdex) on Ubuntu 18 LTS"
Hey folks.

Is it possible to get mcdex running on Ubuntu <=18LTS without having to build the latest version of libc from source? Ubuntu 18 only runs libc 2.27; 2.28 isn't available to install until version 19 or 20 natively.

[code]

[code]

Thanks in advance

[2020-08-23 18:10] #54 closed

[2020-08-23 18:13] dizzyd commented on #54
This should be resolved in v0.10.2. I changed linux to statically link in libc, which should enable this to work even on fairly old Ubuntu. I've validated it works on at least Ubuntu 18.04 LTS. Please let me know if you have any other issues.

[2020-10-31 21:17] SevereOverfl0w opened #56 "Linux build cgo issues"
Running the Linux binary is getting me this:

[code]

[2020-11-16 13:21] suixinio commented on #16
@dizzyd I wonder if this will help. [->](http://dl.liteloader.com/versions/versions.json)

[2020-11-21 21:36] ngoetje commented on #56
I have the same problem.

[2020-11-29 16:41] dizzyd commented on #56
@SevereOverfl0w @ngoetje - what distro/version of Linux are you using?

[2020-11-29 16:43] DerEnderKeks commented on #56
I got the same issue. I tried it on Debian 10 in WSL2.

[2020-11-29 19:41] dizzyd commented on #56
I've fixed the problem, I believe. I'm working on fixing some other bugs but will make a release later tonight. Thanks for the report!

[2020-11-29 22:01] #56 closed

[2020-11-29 22:04] dizzyd commented on #56
Fixed in 0.10.3

[2020-11-29 22:50] dizzyd commented on #51
This is fixed in 0.10.4; the crawled database wasn't getting updated correctly. :)

[2020-11-29 22:50] #51 closed

[2020-12-01 15:28] dizzyd commented on #16
Thanks @suixinio - I'll take a look this weekend. :)

[2020-12-19 02:11] 1JackBlack1 opened #57 "File table not found"
When attempting to install a modpack, including through the example provided:
`mcdex pack.install aoe age-of-engineering`

An error message is provided and nothing else happens:
`2020/12/19 13:08:36 no such table: files`

However if I manually download the pack and put the unzipped file into the appropriate folder it appears to install just fine.

[2021-05-20 23:43] admalledd commented on #57
It seems the sqlite db is just plain missing the "files" table. For ref, the current as I write db file is `files.mcdex.net/data/mcdex-v5-20210327.1521.dat.bz2` and clearly does not have the "files" table as expected, thus breaking things.

@dizzyd is the code that generates the `mcdex.dat` file open/avail somewhere on why it changed and broke?

![image](https://user-images.githubusercontent.com/1

[2021-05-22 10:01] 1JackBlack1 commented on #57
After some more investigating, there are more issues than just that.

The latest release doesn't currently have the same functionality as a freshly built version.

Building from the current source code does not allow the command syntax above. Instead of the first argument being interpreted as a directory, it is interpreted as the pack name, specifically the slug. You cannot install a pack using th

[2021-05-23 00:27] 1JackBlack1 opened #59 "Slug not found during modpack installMods"
When trying to install a modpack, I received the following error:

`2021/05/23 10:09:14 error installing mod file: failed to find slug for project 476520: no project found 476520`

This is likely because this mod is not yet in the database of all available mods.
However, this should not be a fatal error, as (in this process) the slug is only used to name the mod when it fails to download.
The slug

[2022-04-23 00:34] ImplicitSaber opened #61 "[Feature Request] Create package files for Linux distros"
OK, I know that it is simple to just run `sudo mv mcdex /usr/local/bin/mcdex`, but it is much less complicated to install a package file instead. Please consider adding package files for different Linux distros, possibly .deb, .rpm, and/or .tar.zst. I have attached a simple (unofficial) ZIP file of both a .deb file and the sources for the .deb ([mcdex-pkg.zip](https://github.com/dizzyd/mcdex/files